
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">г. Новосибирск <br>ул. Станционная 60/5</div>
			<div class="contacts-wrap">
				<div class="phone-wrap">
					<a href="tel:88002007662" class="link-phone">8 800 200-76-62</a>
				</div>
				<div class="email-wrap">
					<a href="mailto:stm@lazurin.ru" class="link-main">stm@lazurin.ru</a>
				</div>
			</div>
			<div class="soc-wrap">
				<div class="soc-title">Обучайтесь с нами в социальных сетях</div>
				<div class="soc-items">
					<a href="" class="btn-action-ico button-soc-att">
						<img src="./img/icons/soc001.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc-att">
						<img src="./img/icons/soc002.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc-att">
						<img src="./img/icons/soc003.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-info-panel-->
	<div class="footer-info-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">Контрактное <br>производство косметики</div>
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="info-wrap"><a href="">Политика <br>конфиденциальности</a></div>
		</div>
	</div>
	<!--/footer-info-panel-->
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-question">
	<div class="popup-box">
		<a href="" class="btn-popup-close btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-title-wrap">
			<div class="popup-title">Поможем с выбором  и рассчитаем стоимость вашего проекта</div>
		</div>
		<div class="popup-content-wrap">
				<form action="/" class="frm-main">
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="Ваше имя">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<select class="form-input" required>
								<option selected disabled hidden value="">Чем вы занимаетесь?</option><!--placeholder-->
								<option>Пункт списка</option>
								<option>Пункт списка</option>
								<option>Пункт списка</option>
								<option>Пункт списка</option>
							</select>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="tel" class="form-input" placeholder="Телефон для связи">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<textarea class="form-input" placeholder="Ваш вопрос"></textarea>
						</div>
					</div>
					<div class="frm-row">
						<div class="field-title">В каком мессенджере удобно общаться?</div>
						<div class="frm-field field-buttons">
							<a href="" class="btn button-border">
								<div class="button-ico">
									<img src="./img/icons/socbutton01.svg" alt="">
								</div>
								<div class="button-title">WhatsApp</div>
							</a>
							<a href="" class="btn button-border">
								<div class="button-ico">
									<img src="./img/icons/socbutton02.svg" alt="">
								</div>
								<div class="button-title">Telegram</div>
							</a>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-info">
							<div class="frm-select">
								<input type="checkbox" id="form-popup">
								<label for="form-popup">Я соглашаюсь с условиями обработки <a href="" class="link-main">персональных данных</a></label>
							</div>
						</div>
						<div class="frm-field field-submit">
							<button type="submit" class="btn">
								<div class="button-title">получить предложение</div>
							</button>
						</div>
					</div>
				</form>
		</div>
	</div>
</div><!--/popup-outer-box-->