
<!-- header -->
<header class="header">
	<!--header-info-panel-->
	<div class="header-info-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-wrap">Новосибирск, <br>пн-пт с 9:00 до 18:00</div>
			<div class="actions-wrap">
				<a href="tel:88002007662" class="btn-action-ico button-soc button-phone">
					<img src="./img/icons/soc-phone.svg" alt="">
					<div class="button-title">8 800 200 76 62</div>
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<!--/header-info-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="logo-inner-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="action-inner-wrap">
				<a href="" class="btn js-popup-open" data-popup="popup-question">
					<div class="button-title">Задать вопрос </div>
				</a>
			</div>
			<div class="menu-inner-wrap popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-menu js-btn-popup-toggle"></a>
				<div class="popup-content-block js-popup-block">
					<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-popup-close"></a>
					<div class="menu-wrap">
						<ul class="menu">
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Продукция</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Производство</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">Сотрудничество</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">О нас</div>
								</a>
							</li>
							<li>
								<a href="" class="btn-menu">
									<div class="button-title">контакты</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="bottom-wrap">
						<div class="info-wrap">
							Новосибирск, <br>пн-пт с 9:00 до 18:00
						</div>
						<div class="actions-wrap">
							<a href="tel:88002007662" class="btn-action-ico button-soc button-phone">
								<img src="./img/icons/soc-phone.svg" alt="">
								<div class="button-title">8 800 200 76 62</div>
							</a>
							<a href="" class="btn-action-ico button-soc">
								<img src="./img/icons/soc-tg.svg" alt="">
							</a>
							<a href="" class="btn-action-ico button-soc">
								<img src="./img/icons/soc-wa.svg" alt="">
							</a>
						</div>
						<div class="action-wrap">
							<a href="" class="btn js-popup-open" data-popup="popup-question">
								<div class="button-title">Задать вопрос </div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->